<!DOCTYPE html>
<html>

<head>
    <base target="_top">


    <?!= include('css/styles'); ?>
</head>

<body onload="loadSettings();">
    <h1 id="pageTitle">Hanson Family Photos Dashboard</h1>
    <?!= include('partials/displayStatus'); ?>

    <div id="pageContent">
        <button id="loadSlideshow" name="loadSlideshow">Load slideshow</button>
    </div>

    <?!= include('js/clientFunctions'); ?>
    <?!= include('js/getEventListeners'); ?>
    <?!= include('js/loadFunctions'); ?>
    <?!= include('js/slideShow'); ?>    
</body>

</html>