<!DOCTYPE html>
<html>

<head>
    <base target="_top">

    <?!= include('css/styles'); ?>

</head>

<body onload="loadAlbumSettings();">
    <h1 id="pageTitle">Hanson Family Photo Albums</h1>
    <?!= include('partials/displayStatus'); ?>

    <div id="albumControls" name="albumControls">        
    </div>

    <div id="pageContent">
    </div>

    <?!= include('js/clientFunctions'); ?>
    <?!= include('js/getEventListeners'); ?>
    <?!= include('js/loadFunctions'); ?>
    <?!= include('js/slideShow'); ?>    
</body>

</html>