/* styles here */

// h1 { color: rgb(19, 19, 143); }

div.displayStatus {
    width: 500px;
    border: solid 1px red;
    color: red;
    padding: 0.5em;

    margin-bottom: 0.5em;
    display: none;
}
